/*  your css code here. If applicable */
.container{
	text-align:center;
	border-radius:40px;
	background-color:gray;
	display:flex;
	justify-content:center;
	padding:5px;
	width:200px;
	border:3px solid black;
}
.circle-1, .circle-2, .circle-3{
	height:50px;
	width:50px;
	border-radius:50%;
}
.circle-1{
	background-color:green;
}
.circle-2{
	background-color:yellow;
}
.circle-3{
	background-color:red;
}