/*  your css code here. If applicable */
.container{
	text-align:center;
	border-radius:10px;
	background-color:gray;
	display:flex;
	justify-content:center;
	padding:20px;
	width:200px;
	border:3px solid black;
}

.green{
	height:50px;
	width:50px;
	margin:2px;
	border-radius:50%;
	background-color:green;
}
.yellow{
	height:50px;
	width:50px;
	margin:2px;
	border-radius:50%;
	background-color:yellow;
}
.red{
	height:50px;
	width:50px;
	margin:2px;
	border-radius:50%;
	background-color:red;
}